* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #00308f;
  --black: #1e1e1e;
}
html {
  font-size: 55%;
}

@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

body {
  -ms-overflow-style: none;
  overflow-x: hidden;
}
